#clock{
height:500px;
width:500px;
background-image:url(../image/clock.gif);
background-size:cover;
background-repeat:no-repeat;
position:relative;

}
#hr
{
height:180px;
width:7px;
background-color:black;
position:absolute;
left:243px;
top:70px;
//transform:rotate(0deg);
transform-origin:bottom;

}
#min
{
left:244px;
top:50px;
height:200px;
position:absolute;
width:5px;
background-color:black;
//transform:rotate(0deg);
transform-origin:bottom;

}
#sec
{
left:246px;
top:40px;
position:absolute;
height:210px;
width:3px;
background-color:red;
//transform:rotate(0deg);
transform-origin:bottom;
}
