body{
background:black;

}
.weather
{
height:80px;
width:380px;
background:linear-gradient(to bottom right, #03f8b8,#54628e);
//background-color:red;
border-radius:30px;
position:absolute;
top:7%;
left:34%;
}
.search
{
margin-top:15px;
height:80px;
width:380px;
display:flex;
border:none;
}
.content
{
display:none;
height:400px;
width:380px;
background:linear-gradient(to bottom right, #03f8b8,#54628e);
//background-color:red;
border-radius:0px 0px 30px 30px;
position:absolute;
top:18%;
left:34%;
margin-top:14px;
border:0px;

}


#text
{
height:45px;
width:280px;
border-radius:30px;
border:none;
margin-left:20px;
}
i
{
font-size:20px;
height:25px;
width:25px;
}
button
{
margin-left:10px;
padding: 10px;
border-radius:30px;
border:none;
}
.weather-icon
{
height:100px;
width:120px;
margin-left:120px;
margin-top:10px;
//border:1px solid;
}
.temp
{
font-size:60px;
margin-left:115px;
color:white;
//border:1px solid;
}
.city
{
font-size:40px;
margin-left:115px;
color:white;
margin-top:5px;
//border:1px solid;
}

.hw
{
height:100px;
width:400px;
display:flex;
//border:1px solid;
padding-top:10px;
}
.image img
{
height:40px;
width:45px;
margin-top:18px;

}
.col
{
width:200px;
display:flex;
//justify-content:space-between;
margin-left:20px;
}
.col1
{
width:200px;
display:flex;
//justify-content:space-between;
margin-left:0px;
}
.text
{
margin-left:10px;
padding:0px;
//margin-bottom:20px;
}
p
{
color:white;
margin-bottom:20px;
}

span
{
font-size:25px;

}



















